<html>
<head>
<title><?php echo $pagetitle; ?></title>
<meta charset="UTF-8">
<link rel="stylesheet" href="./ui/css/app.css">
</head>
<body>

<script>

//Facebook login script
  function statusChangeCallback(response) {
    console.log(response);
    if (response.status === 'connected') {
      window.location.replace("./");
    } else if (response.status === 'not_authorized') {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      document.getElementById('status').innerHTML = 'To continue log into Facebook'
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1607879209503042',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
  });


  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div id="status">
</div>

<fb:login-button id="fb-login" onlogin="checkLoginState();" data-size="xlarge" >
</fb:login-button>



</body>
</html>
